<!doctype html>
<h2><%= @category.name %></h2>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Welcome | rBlog</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/main.css">
    </head>
    <body>                        
        <div id="posts-index">
            <% if @posts.exists? %>
                <% @posts.each_slice(2) do |post| %>
                    <div class="row">
                        <% post.each do |post| %>
                        <div class="col-md-6">
                            <div class="card">
                                <%= image_tag post.image.url, width: '100%' %>
                                <div class="post-content">
                                    <h3><%= post.title %></h3>
                                    <small>Posted By: <%= post.user.name %> on <%= post.created_at.to_time.strftime('%B %e at %l %M %p') %></small>
                                    <%= raw post.body.truncate(200) %>
                                    <%= link_to "Read More", post_path(post), class: 'btn btn-primary' %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                <% end %>
            <% else %>
                <p>No posts in this category yet</p>
            <% end %>
        </div>
        
    </body>
</html>
